html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.control {
  width: 250px;
  position: fixed;
  left: 20px;
  padding: 20px;
  background: rgba(255,255,255,0.7);
  font-size: 14px;
}

#exportA {
  font-size: 18px;
}

.loading-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  z-index: 30;
  display: none;
}

.loading-bar::before {
  content: ' ';
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px) ;
  width: 100px;
  height: 100px;
  z-index: 20030;
  border-radius: 50%;
  border: 15px solid #fff;
  border-top-color: transparent;
  color: #fff;
  animation: spinning 1s infinite linear;
  -webkit-animation: spinning 1s infinite linear;
  -moz-animation: spinning 1s infinite linear;
}

.loading-bar::after {
  content: 'Loading';
  position: fixed;
  color: #fff;
  font-size: 12px;
  top: calc(50% - 7px);
  left: calc(50% - 18px);
}

.marginTopDown {
  margin: 10px 0;
}

a.disabled {
  color: #eee;
  pointer-event: none;
}


.navigation {
  position: fixed;
  right: 10px;
  width: 160px;
}
@media only screen and (max-device-width: 480px) {
  .navigation {
    display: none;
  }
}

.direction-control {
  position: relative;
  width: 100%;
  height: calc(42px*3 + 20px);
}


button[id^="go"] {
  position: absolute;
  width: 42px;
  height: 42px;
  background-color: #fff;
}

#go-up {
  top: 10px; left: calc(26px + 42px);
}
#go-left {
  top: calc(10px + 41px); left: 27px;
}
#go-right {
  top: calc(10px + 41px); left: calc(25px + 42px*2);
}
#go-down {
  top: calc(10px + 41px*2); left: calc(26px + 42px);
}

#svg-preview-map {
  background-color: #fff;
  position: absolute;
  top: calc(10px + 42px); left: calc(25px + 44px);
  width: 40px;
  height: 40px;
}

.preview-path {
  fill: none;
  stroke: #000;
}

//loading spinner animation
@keyframes spinning {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spinning {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spinning {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}
